.building{
    display:inline-block;
	position: absolute;
    background-color:none;
    border: 2px solid black;
}
.box{
    display:inline-block;
    position: fixed;
    width: 500px;
    height: 500px;
    border: 5px solid black;
    top: 100px;
    left: 150px; 
    background-color: white;
}

#build1{
    top: 400px;
    left: 150px;
    height: 202px;
    width: 98px;
}

#build2{
    top: 291px;
    left: 250px;
    height: 315px;
    width: 120px;
}

#build3{
    top: 330px;
    left: 372px;
    height: 276px;
    width: 79px;
}

#build4{
    top: 185px;
    left: 453px;
    height: 420px;
    width: 80px;
}

#build5{
    top: 350px;
    left: 535px;
    height: 255px;
    width: 119px;
}

.sun{
    display:inline-block;
    position: absolute;
    background-color:none;
    border: 1px solid rgb(44, 44, 44);
    top: 150px;
    left: 200px;
    height: 85px;
    width: 85px;
    border-radius: 50%;

}

.doors{
    display:inline-block;
    position: absolute;
    background-color:none;
    border: 1px solid black;

}

#door1{
    left: 180px;
    height: 35px;
    width: 30px;
    top: 568px; 
}

#door2{
    left: 280px;
    height: 40px;
    width: 25px;
    top: 564px; 
}


#door3{
    left: 306px;
    height: 40px;
    width: 25px;
    top: 564px; 
}

#door4{
    left: 395px;
    height: 30px;
    width: 25px;
    top: 574px; 
}

#door5{
    left: 480px;
    height: 50px;
    width: 25px;
    top: 554px; 
}

#door6{
    left: 560px;
    height: 30px;
    width: 30px;
    top: 577px; 
}

#door7{
    left: 591px;
    height: 30px;
    width: 30px;
    top: 577px; 
}

.all_windows{
	float: left;
    background-color:none;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    margin: 10px;
}

